<div class="topnav">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="index.html">
            <img src="./assets/img/LogoMakr_0serJn.png" width="auto" height="40" alt="">
        </a>
        <div class="topnav-right">
            <button class="btn btn-sm btn-outline-secondary logout" type="button">Logout</button>
        </div>
    </nav>
</div>
<!-- Main Container with tab links -->
<div class="card text-center">
    
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/search">Search pets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lost">Lost pets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/found">Found pet</a>
            </li>
        </ul>
    </div>

    <!-- Insert search Div -->
    {{!-- <div class="card-body">
                <img id="logo-center" src="./assets/img/LogoMakr_0serJn.png" width="auto" height="100" alt="">
            <h5 class="card-text">Helping lost pets find their way home.</h5>
            <a href="#" class="btn btn-primary">New Search</a>
            <br> <br>--}}

    <div class="container" id="searchDiv"> 
        <form class="form-inline">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref"></label>
            <select class="custom-select my-1 mr-sm-2" id="petType">
                <option selected>Pet type</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
            </select>
            <select class="custom-select my-1 mr-sm-2" id="petColor">
                <option selected>Color</option>
                <option value="White">White</option>
                <option value="Black">Black</option>
                <option value="Gold">Gold</option>
            </select>
        
        
            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlInline">
                <label class="custom-control-label" for="customControlInline">Remember my search</label>
            </div>
        
            <button type="submit" class="btn btn-primary my-1" id="searchSubmit">Submit</button>
        </form>
    </div>

    <div class="addspace">
        <img src="https://s0.2mdn.net/9032025/PURI_BEN_ben-petfinder2019_premium-line-2019_Save_Now_728x90_Banner_JPG.JPG">
    </div>

        {{!-- <form>
            <div class="row"> --}}
                {{!-- <div class="col-md-4">
                    <input type="text" class="form-control" id="petType" placeholder="Pet type">
                </div> --}}
                {{!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="petType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pet type
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Dog</button>
                    <button class="dropdown-item" type="button">Cat</button>
                </div>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="petColor" placeholder="Color">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="petSex" placeholder="Sex">
                </div>
            </div>
            <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form> --}}

    <!-- Search results display cards -->
    
    {{!-- <div class="container" id="resultsDiv">
        <div class="row">
            <div class="col-md-6">
                {{#each pet}}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <iframe id="imgLink"
                                src={{image.url}}
                                class="card-img" 
                                alt="search results pet picture"
                                scrolling="no">
                                <p>iframes are not supported by your browser.</p>
                            </iframe>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" id="petColor">{{color}}</h5>
                                <p class="card-text" id="petLooksLike">{{looks_like}}</p>
                                <p class="card-text"><small class="text-muted">{{sex}} | {{age}}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img id="imgLink"
                                src="https://images.unsplash.com/photo-1443806798002-651c462956ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80"
                                class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" id="petColor">Red/Black</h5>
                                <p class="card-text" id="petLooksLike">Yorkshire Terrier/Miniature Schnauzer</p>
                                <p class="card-text"><small class="text-muted" id="petSex">F | 5 years</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Sex</th>
                    <th scope="col">Looks Like</th>
                    <th scope="col">Color</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr>
                    <th scope="row">Intact Female</th>
                    <td>Snowshoe Mix</td>
                    <td>Seal Point</td>
                    <td>http://petharbor.com/get_image.asp?RES=Detail&ID=A792513&LOCATION=ASTN</td>
                </tr>
                <tr>
                    <th scope="row">Male</th>
                    <td>Yorkshire Terrier/Miniature Schnauzer</td>
                    <td>Red/Black</td>
                    <td>http://petharbor.com/get_image.asp?RES=Detail&ID=A792513&LOCATION=ASTN</td>
                </tr>
                <tr>
                    <th scope="row">Female</th>
                    <td>Pitbull/Mix</td>
                    <td>Black/White</td>
                    <td>http://petharbor.com/get_image.asp?RES=Detail&ID=A792513&LOCATION=ASTN</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

{{>footer}}